<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Clean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Info.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2707CCE814D429ED004695ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>274171B314D42AE70088B8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>274171B714D42B050088B8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>274171BB14D42B0F0088B8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>274171BF14D42B150088B8BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>278C1D0D14D6F91800BC13E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27A8C58814D48017002F38A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27C58ADF14D5C9B600CB57D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
